In [16]:
import pandas as pd
from pyspark.sql import SparkSession
from sklearn.datasets import load_iris

In [3]:
iris = pd.read_csv("https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv")
# iris = load_iris(as_frame=True).frame
iris.shape

(150, 5)

In [4]:
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [5]:
# iris = iris.set_axis(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'target'], axis=1)
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [6]:
spark = SparkSession.builder\
    .getOrCreate()

25/02/24 15:33:34 WARN Utils: Your hostname, bender.local resolves to a loopback address: 127.0.0.1; using 192.168.1.37 instead (on interface en0)
25/02/24 15:33:34 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/02/24 15:33:34 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [7]:
df = spark.createDataFrame(iris)
df

DataFrame[sepal_length: double, sepal_width: double, petal_length: double, petal_width: double, species: string]

In [8]:
df.show()

+------------+-----------+------------+-----------+-------+
|sepal_length|sepal_width|petal_length|petal_width|species|
+------------+-----------+------------+-----------+-------+
|         5.1|        3.5|         1.4|        0.2| setosa|
|         4.9|        3.0|         1.4|        0.2| setosa|
|         4.7|        3.2|         1.3|        0.2| setosa|
|         4.6|        3.1|         1.5|        0.2| setosa|
|         5.0|        3.6|         1.4|        0.2| setosa|
|         5.4|        3.9|         1.7|        0.4| setosa|
|         4.6|        3.4|         1.4|        0.3| setosa|
|         5.0|        3.4|         1.5|        0.2| setosa|
|         4.4|        2.9|         1.4|        0.2| setosa|
|         4.9|        3.1|         1.5|        0.1| setosa|
|         5.4|        3.7|         1.5|        0.2| setosa|
|         4.8|        3.4|         1.6|        0.2| setosa|
|         4.8|        3.0|         1.4|        0.1| setosa|
|         4.3|        3.0|         1.1|        0.1| setosa|
|         5.8|        4.0|         1.2|        0.2| setosa|
|         5.7|        4.4|         1.5|        0.4| setosa|
|         5.4|        3.9|         1.3|        0.4| setosa|
|         5.1|        3.5|         1.4|        0.3| setosa|
|         5.7|        3.8|         1.7|        0.3| setosa|
|         5.1|        3.8|         1.5|        0.3| setosa|
+------------+-----------+------------+-----------+-------+
only showing top 20 rows

In [9]:
df.show(1, vertical=True)

-RECORD 0--------------
 sepal_length | 5.1
 sepal_width  | 3.5
 petal_length | 1.4
 petal_width  | 0.2
 species      | setosa
only showing top 1 row

In [10]:
df.printSchema()

root
 |-- sepal_length: double (nullable = true)
 |-- sepal_width: double (nullable = true)
 |-- petal_length: double (nullable = true)
 |-- petal_width: double (nullable = true)
 |-- species: string (nullable = true)

In [11]:
from pyspark.sql.functions import col, when

df1 = df\
    .select('species', 'sepal_length')\
    .filter(col("sepal_length") > 5)

In [12]:
df1.show(5)

+-------+------------+
|species|sepal_length|
+-------+------------+
| setosa|         5.1|
| setosa|         5.4|
| setosa|         5.4|
| setosa|         5.8|
| setosa|         5.7|
+-------+------------+
only showing top 5 rows

In [13]:
# df1.groupBy('species').collect()
spark.stop()

In [ ]:
spark = SparkSession.builder.getOrCreate()
df = spark.read\
    .format("csv")\
    .option("sep", "\t")\
    .option("header", "false")\
    .option("inferSchema", "true")\
    .load("data/ml-100k/u.data")\
    .toDF("userid", "itemid", "rating", "timestamp")


df.show(5)
spark.stop()

+------+------+------+---------+
|userid|itemid|rating|timestamp|
+------+------+------+---------+
|   196|   242|     3|881250949|
|   186|   302|     3|891717742|
|    22|   377|     1|878887116|
|   244|    51|     2|880606923|
|   166|   346|     1|886397596|
+------+------+------+---------+
only showing top 5 rows

In [29]:
spark = SparkSession.builder.getOrCreate()
df = spark.read.csv("data/ml-100k/u.data", sep="\t", header=False, inferSchema=True).toDF("userid", "itemid", "rating", "timestamp")
df.show(5)

+------+------+------+---------+
|userid|itemid|rating|timestamp|
+------+------+------+---------+
|   196|   242|     3|881250949|
|   186|   302|     3|891717742|
|    22|   377|     1|878887116|
|   244|    51|     2|880606923|
|   166|   346|     1|886397596|
+------+------+------+---------+
only showing top 5 rows